{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Cart{% endblock %}

{% block content %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class="breadcrumb-item">Cart</li>
    </ol>
  </nav>

  <h1 class="display-4">Cart</h1>

  {% include 'partials/_alerts.html' %}

  <div class="row">

    {% if cart_items %} {% for item in cart_items %}

    <div class="card w-100 cart-card">
      <div class="card-header">
        <h2>#{{ item.id }} - {{ item.title }}</h2>
      </div>

      <div class="card-body">
        <h5 class="card-title">Contribution Amount:</h5>
          <div>
            <form
              action="{% url 'updatecart' item.id %}"
              method="POST"
              class="form-inline d-inline"
            >
              {% csrf_token %}
              <span class="d-inline">&euro;</span>
              <input
                class="form-control"
                type="number"
                min="1"
                step="any"
                name="contribution_amount"
                value="{{ item.contrib_amount }}"
                required
              />
              <button type="submit" class="btn btn-primary">Update Amount</button>
            </form>
          </div>

        <div>
          <h5 class="card-title">Feature Details:</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>

        <form
          action="{% url 'removefromcart' item.id %}"
          method="POST"
          class="float-right"
        >
          {% csrf_token %}
          <div class="controls form-inline">
            <button class="btn btn-dark float-right">Remove Item</button>
          </div>
        </form>
      </div>
    </div>  

    {% endfor %}

  </div>
  <div class="row">

    <div class="card w-100 cart-card">
      <div class="card-header">
        <h3>Total Payment: &euro;{{ total }}</h3>
      </div>
      <div class="card-body">
            <p class="card-text">If you are happy to contribute simply click Checkout and enter your card details to pay securely.</p>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="ml-auto cart-card">
      <form action="{% url 'charge' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="stripe_api_key" value="{{ key }}" />
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-description="Unicorn Attractor Contribution"
              data-amount="{{total_in_cents}}"
              data-locale="auto"
              data-currency="eur">
          </script>
      </form>
    </div>
  </div>
  
    {% else %}

  <div class="row">

    <div class="card w-100 cart-card">
      <div class="card-header">
        Nothing here...
      </div>
      <div class="card-body">
            <p class="card-text">You haven't added any contributions yet. Please head over to the <a href="{% url 'features' %}">Features</a> page and consider contributing.</p>
      </div>
    </div>
  </div>

    {% endif %}

  <div class="row">
    <div class="card w-100 cart-card">
      <div class="card-header">
        Loyalty Card Details
      </div>
      <div class="card-body">
            <p class="card-text">Here at UA we offer you a discount based on your previous contributions, at a rate of 1.5% up to a maximum of 30%. 
              You have made <strong>{{ num_contribs }}</strong> previous contribution(s), entitling you to a <strong>{{ discount }}% discount</strong>, which will automatically be applied at checkout.</p>
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock %}
