{% extends 'base.html' %} {% load staticfiles %} {% block content %}

<div class="container">
  <div class="row">
    {% if cart_items %} {% for item in cart_items %}

    <div class="card w-100 cart-card">
      <div class="card-header">
        <h2>{{ item.title }}</h2>
      </div>

      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{ item.description }}</p>
      </div>
    </div>

    {% endfor %} {% else %}

    <p>Empty cart</p>

    {% endif %}
  </div>
</div>

{% endblock %}
