<div class="main-container card">
  {% if 'dashboard' not in request.path %}
  <h4 class="card-header d-flex">
    Comments
    <button
      type="button"
      class="btn btn-primary btn-sm ml-auto"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Add Comment
    </button>
  </h4>
  {% endif %}
  
  {% for comment in comments %}

  <div class="comment-body">
    <div class="card-body">
      <small class="text-muted"
        >On {{ comment.posted_on }},
        <b>{{ comment.userid.username }}</b> said:</small
      >
      <p>
        {{ comment }}
      </p>
      {% if 'dashboard' in request.path %}
      <small class="float-right font-weight-bold">
        {% if comment.ticketid %}
        <a href="{% url 'bug' comment.ticketid.id %}">View in context >></a>
        {% else %}
        <a href="{% url 'post' comment.blog_post_id.id %}"
          >View in context >></a
        >
        {% endif %}
      </small>
      {% endif %}
    </div>
  </div>

  {% empty %}
  <div class="list-group">
    <p class="list-group-item ">No comments found</p>
  </div>

  {% endfor %} 
  
</div>
