<div class="card">
    <h5 class="card-header">Comments
        {% if 'dashboard' not in request.path %}
        <button type="button" 
                class="btn btn-primary btn-sm"
                data-toggle="modal" 
                data-target="#exampleModal">
                Add Comment
        </button>
        {% endif %}
    </h5>

    {% if comments %}

        {% for comment in comments %}
    
            <div class="comment-body">
                <div class="card-body">
                    <small class="text-muted">On {{ comment.posted_on }}, <b>{{ comment.userid.username }}</b> said:</small>
                    <p>
                        {{ comment }}
                    </p>
                    {% if 'dashboard' in request.path %}
                    <small class="float-right">
                        <a href="{% url 'bug' bugid=comment.ticketid.id %}">View in context >></a>
                    </small>
                    {% endif %}
                </div>
            </div>
        
        {% endfor %}

    {% else %}

        <div class="comment-body text-center">No comments found</div>
    
    {% endif %}
    
</div>
