<div class="main-container">
    
    <div class="list-group">
    
    {% if features %}
    
        {% for feature in features %}


            <a href="{% url 'feature' feature.id %}"
                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center flex-wrap ticket-list-item">
                <div class="col-sm-12 col-md-8"><b>#{{ feature.id }}</b> - <b>{{ feature.title }}</b></div>
                
                {% include 'partials/_progressbar.html' %}
            </a>
        
        {% endfor %}
        
    {% else %}
    
    <li class="list-group-item d-flex justify-content-between align-items-center">
        No features found
    </li>
    
    {% endif %}
    
    </div>
</div>
