<div class="main-container">
    <table class="table table-hover table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
    
    {% if features %}
    
        {% for feature in features %}
        
            <tr>
                <th scope="row">{{ feature.id }}</th>
                <td>{{ feature.title }}</td>
                <td>{{ feature.description | truncatechars:40 }}</td>
                <td><a href="{% url 'feature' feature.id %}">View</a></td>
            </tr>
        
        {% endfor %}
        
    {% else %}
    
        <tr>
            <td>No featues found.</td>
        </tr>
    
    {% endif %}
    
    </tbody>
    </table>
</div>
