<div class="progress position-relative 
        {% if '/feature/' not in request.path %}
        dashboard-progress
        {% endif %}">
    <div class="progress-bar progress-bar-striped" 
            role="progressbar" 
            style="width: {{ feature.percent_complete|stringformat:'d' }}%; height: 25px" 
            aria-valuenow="{{ feature.percent_complete|stringformat:'d' }}" 
            aria-valuemin="0" 
            aria-valuemax="{{ feature.price|stringformat:'d' }}">
            <strong class="justify-content-center d-flex position-absolute w-100">&euro;{% if feature.total_contrib_amount == None %} 0 {% else %} {{feature.total_contrib_amount|floatformat:-2 }} {% endif %} - {{ feature.percent_complete|floatformat }}%</strong>
    </div>
</div>
