<div class="progress position-relative
            {% if '/dashboard' in request.path %}
            dashboard-progress
            {% endif %}">
    <div class="progress-bar progress-bar-striped" 
            role="progressbar" 
            style="width: {{ feature.contrib_percent|stringformat:'d' }}%; height: 25px" 
            aria-valuenow="{{ feature.contrib_percent|stringformat:'d' }}" 
            aria-valuemin="0" 
            aria-valuemax="{{ feature.price|stringformat:'d' }}">
            <strong class="justify-content-center d-flex position-absolute w-100">&euro;{{ feature.current_contribs }} - {{ feature.contrib_percent }}%</strong>
    </div>
</div>
