{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ user.username|title }}'s Dashboard</h1>

        {% include 'partials/_alerts.html' %}

        <h2>My Bug Reports</h2>
        {% include 'partials/_bugs.html' %}

        <h2>My Feature Requests</h2>
        {% include 'partials/_features.html' %}

        <h2>My Comments</h2>
        {% include 'partials/_comments.html' %}

    </div>
</div>

{% endblock %}