
.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
}

.logo {
  width: 60px;
}


.comment-body {
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.comment-body:hover{
   background-color:#f7f7f7;
}

.bug-details-item {
  margin: 20px 0 20px 10px;
}

.details-body {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Courier;
}

.home-panel {
  padding: 20px 0 20px 0;
}

.home-panel h4 {
  padding: 10px;
  color: #689700;
}

.home-panel img {
  padding: 10px;
}

.home-panel p {
  padding: 10px;
  font-size: 0.9em;
}

.footer {
  padding: 20px 50px;
  color: #fff;
  background-color: #7fb800;
}

.footer a {
  color: #fff;
}

.footer ul {
  list-style-type: none;
}

/****************BOOTSTRAP CARD OVERWRITES************************/

.card {
  border-radius: 15px;
  border-color: #17a2b8;
}

.card > h5 {
  border-color: #17a2b8;
}

.card-header {
  border-radius: 15px 15px 0 0;
}

.card-header:first-child {
  border-radius: 15px 15px 0 0;
}

.card-body > p {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 5vw;
  }
}