/*** FIXED BACKGROUND IMAGE ***/

body	{ 
  background:url('../images/circuitboard.png') top right no-repeat;
  background-size: 100% 100%;
	background-attachment:fixed;
}

/*** STICKY FOOTER ***/

.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
}

/*** END STICKY FOOTER ***/

h1, h2, h3, h4, h5, h6 {
  color: #689700;
}

.logo {
  width: 60px;
}

.main-container {
  margin: 20px 0;
}

.placeholder {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.comment-body {
  padding: 10px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.comment-body:hover{
   background-color:#f0f0f0;
}

.bug-details-item {
  margin: 20px 0 20px 10px;
}

.details-body {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-family: Courier;
}

.home-panel {
  padding: 20px 0 20px 0;
}

.home-panel h4 {
  padding: 10px;
  color: #689700;
}

.home-panel img {
  padding: 10px;
}

.home-panel p {
  padding: 10px;
  font-size: 0.9em;
}

.footer {
  padding: 20px 50px;
  color: #fff;
  background-color: #7fb800;
}

.footer a {
  color: #fff;
}

.footer ul {
  list-style-type: none;
}


.dashboard-progress {
  width: 30%;
}

.cart-card {
  margin-bottom: 20px;
}

.nav-icon {
  color: #343a40;
}

.comments-span div:nth-child(even) {
  text-align: right;
}

/****************BOOTSTRAP CARD OVERWRITES************************/

.card {
  border-radius: 15px;
  border-color: #17a2b8;
}

.card > h5 {
  border-color: #17a2b8;
}

.card-header {
  border-radius: 15px 15px 0 0;
}

.card-header:first-child {
  border-radius: 15px 15px 0 0;
}

.card-body > p {
  margin-bottom: 0;
}

/********** OTHER BOOTSTRAP OVERWRITES **************/

.jumbotron {
  background: rgb(216, 216, 216);
}

.badge {
  padding: .45em .5em;
}

@media screen and (max-width: 600px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 5vw;
  }
  .display-4 {
    font-size: 2.5rem !important;
  }
}

.list-group-item:hover {
  background-color: #17a2b8;
}

.progress {
  height: 25px;
}

.progress-bar {
  color: rgb(66, 66, 66);
}


/**************** CHARTS STYLES *********************/

#chart {
  font: 12px sans-serif;
}

.chart-container {
  background: #f7f7f7;
  text-align: center;
  padding: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2.5px;
}

.x.axis path {
  stroke-width: 2.5px;
}

.line {
  fill: none;
  stroke: #17a2b8;
  stroke-width: 4px;
}

.bar-chart {
  background-color: #C7D9D9;
}

.bar {
  fill: #17a2b8;
}