{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container">
              
    <div class="container">
        <h1 class="display-4">Tickets Logged By Day</h1>
        <div class="chart-container" id="ticketsLogged"></div>
    </div>

    <div class="container">
        <h1 class="display-4">Bug Reports Vs. Feature Requests</h1>
        <div class="chart-container" id="bugsVsRequests"></div>
    </div>

    <div class="container">
        <h1 class="display-4">Average Feature Progress</h1>
        <div class="chart-container" id="featureProgress"></div>
    </div>

    <div class="container">
        <h1 class="display-4">Comments Per Day</h1>
        <div class="chart-container" id="commentsPerDay"></div>
    </div>

</div>

{% endblock %}

{% block javascript %}

<script>
    getData("{% url 'get_data' %}");
    getTicketTypeData("{% url 'type_data_url' %}");
    featureProgress("{% url 'average_feature_progress' %}");
    commentData("{% url 'get_comment_data' %}");
</script>
    
{% endblock %}