{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="container chart-container">
        <h1 class="display-4">Average Feature Progress</h1>
        <span id="error3"></span>
        <canvas id="feature-progress"></canvas>
    </div>
              
    <div class="container chart-container">
        <h1 class="display-4">Tickets Logged By Day</h1>
        <span id="error1"></span>
        <canvas id="tickets-by-day"></canvas>
    </div>

    <div class="container chart-container">
        <h1 class="display-4">Bug Reports Vs. Feature Requests</h1>
        <span id="error2"></span>
        <canvas id="bugs-vs-features"></canvas>
    </div>

    <div class="container chart-container">
        <h1 class="display-4">Comments Per Day</h1>
        <span id="error4"></span>
        <canvas id="comments-per-day"></canvas>
    </div>

    <div class="container chart-container">
        <h1 class="display-4">Ticket Status</h1>
        <span id="error5"></span>
        <canvas id="ticket-status"></canvas>
    </div>

</div>

{% endblock %}

{% block javascript %}

<script>
    getData("{% url 'get_data' %}");
    getTicketTypeData("{% url 'type_data_url' %}");
    featureProgress("{% url 'average_feature_progress' %}");
    commentData("{% url 'get_comment_data' %}");
    ticketStatus("{% url 'get_tickets_by_status' %}")
</script>
    
{% endblock %}