{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %} 

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Blog</li>
        </ol>
    </nav>

    <h1>Blog Posts</h1>

    <div class="main-container">

        {% for post in posts %}
            <div class="card cart-card">
                <div class="card-header">
                    <h3><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
                    <small class="text-muted">published: {{ post.published_on }} by {{ post.author }}</small>
                </div>

                <p class="card-body">{{ post.body|truncatechars:400 }}<a href="{% url 'post' post.id %}">Read More</a></p>

            </div>

        {% empty %}

            <div class="list-group">
                <p class="list-group-item">
                    No posts found
                </p>
            </div>

        {% endfor %}

    </div>

    <a href="{% url 'addpost' %}" class="btn btn-info float-right">Add Post</a>

</div>

{% endblock %}
