{% extends 'base.html' %}

{% block title %}Blog{% endblock %} 

{% block content %}

<div class="container">

    {% include 'partials/_alerts.html' %}

    <div class="container jumbotron">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead">published: {{ post.published_on }} by {{ post.author }}</p>
        <hr class="my-4">
        <p>{{ post.body|linebreaksbr }}</p>
        <p class="lead">
            
            <button type="button" 
                class="btn btn-primary btn-lg float-right"
                data-toggle="modal" 
                data-target="#exampleModal">
                Add Comment
            </button>
        </p>
    </div>

    <div class="container jumbotron">
        <h1 class="display-4">Comments</h1>

        {% if comments %}

            <div class="comments-span">

                {% for comment in comments %}
                    
                    <div>
                        <hr class="my-4">
                        <p>{{ comment.comment }}</p>
                        <small class="ml-auto"> - {{ comment.posted_on }} by {{ comment.userid }}</small>
                    </div>

                {% endfor %}

            </div>
        
        {% else %}

            <hr class="my-4">
            <p>No comments yet.</p>
        
        {% endif %}

    </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'post' post.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="comment" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="comment" name="comment" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add comment</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
