{% extends 'base.html' %}
{% load static %}

{% block title %}Bugs{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb" class="breadcrumb-container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'bugs' %}">Bugs</a></li>
            <li class="breadcrumb-item">{{ bug.title }}</li>
            
        </ol>
    </nav>
    
    <h1 class="display-4"></h1>

    {% include 'partials/_alerts.html' %}
    
    {% if bug %}
    
        <div class="card">
            <h5 class="card-header d-flex">

                <span>
                    {{ bug.title }}
                    <br>
                    <small class="text-muted"> posted on {{ bug.created_on }} by {{ bug.userid.username }}</small>
                </span>
                
                {% if user == bug.userid or user.is_staff == True %}
                <span class="ml-auto">
                    <a href="{% url 'editbug' bug.id %}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </span>
                {% else %}
                <span class="ml-auto">
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fas fa-ban"></i> Edit
                    </button>
                </span>            
                {% endif %}
            
            </h5>
            
            <div class="card-body">
                
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="col bug-details-item">
                        <h5 class="card-title">DETAILS</h5>
                        <p class="details-body">{{ bug.description }}</p>
                    </div>

                    
                    <div class="col bug-details-item">
                        <h5 class="card-title">IMAGE</h5>
                        
                        {% if bug.image %}
                            <img src="{{ bug.image.url }}" class="img-thumbnail bug-thumbnail" onclick="openImage('{{ bug.image.url }}')">
                            <div id="image-modal" class="image-modal">
                                <div>
                                    <img class="image-modal-content" id="bug-image">
                                </div>
                            </div>
                        {% else %}
                            <img src="{% static 'images/noimage.png' %}" class="img-thumbnail">
                        {% endif %}
                        
                    </div>
                </div>

                <div class="col bug-details-right">
                    <div class="col bug-details-item">
                        <h5 class="card-title">URL</h5>
                        <span class="card-text">
                            {% if bug.url %}
                                <a href="{{ bug.url }}" target="_blank">{{ bug.url }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </span>
                    </div>
                    
                    <div class="col bug-details-item">

                        <h5 class="card-title">STATUS</h5>
                        
                        {% if bug.status == "Pending" %}
                            <span class="badge badge-primary">{{ bug.status }}</span>
                        {% elif bug.status == "In Progress" %}
                            <span class="badge badge-warning">{{ bug.status }}</span>
                        {% elif bug.status == "Complete" %}
                            <span class="badge badge-complete">{{ bug.status }}</span>
                        {% endif %}

                    </div>

                    <div class="col bug-details-item">
                        <span id="votes-number">{{ votes }}</span> other user{% if votes == 0 or votes > 1 %}s have{% else %} has{% endif %} this problem
                    </div>

                    <div class="col bug-details-item">
                        <form action="#" id="vote-form" method="POST">
                        
                            <button class="btn btn-info" onClick="voteOnTicket('{{bug.id}}', '{{ csrf_token }}')">
                                Me too 
                                <i class="far fa-arrow-alt-circle-up"></i>
                            </button>
                        </form>
                    </div> 

                </div>

            </div>
            </div>
        </div>
        
        <hr>
        
        {% include 'partials/_comments.html' %}
        
    {% endif %}
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'bug' bug.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="comment" name="comment" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
