{% extends 'base.html' %}

{% block title %}Bugs{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'bugs' %}">Bugs</a></li>
            <li class="breadcrumb-item">{{ bug.title }}</li>
            
        </ol>
    </nav>
    
    <h1 class="display-4"></h1>

    {% include 'partials/_alerts.html' %}
    
    {% if bug %}
    
        <div class="card">
            <h5 class="card-header d-flex">

                <span>
                    {{ bug.title }}
                    <small class="text-muted"> posted on {{ bug.created_on }} by {{ bug.userid.username }}</small>
                </span>
                
                {% if user == bug.userid or user.is_staff == True %}
                <span class="ml-auto">
                    <a href="{% url 'editbug' bug.id %}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </span>
                {% else %}
                <span class="ml-auto">
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fas fa-ban"></i> Edit
                    </button>
                </span>            
                {% endif %}
            
            </h5>
            
            <div class="card-body">
                
                <div class="bug-details-item">
                    <h5 class="card-title">Details</h5>
                    <p class="details-body">{{ bug.description }}</p>
                </div>
                
                <div class="bug-details-item">
                    <h6 class="card-title">URL:
                        <span class="card-text">
                            {% if bug.url %}
                                <a href="{{ bug.url }}" target="_blank">{{ bug.url }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </span>
                    </h6>
                </div>
                
                <div class="bug-details-item">
                    
                    {% if user.is_staff %}

                        <form action="POST">
                                                    
                            <h6 class="card-title">Status
                                <select name="ticket_status" onchange="changeTicketStatus(this.value, '{{ bug.id }}', '{{ csrf_token }}')">
                                    <option value="Pending" {% if bug.status == "Pending" %}selected {% endif %}>Pending</option>
                                    <option value="In Progress" {% if bug.status == "In Progress" %}selected {% endif %}>In Progress</option>
                                    <option value="Complete" {% if bug.status == "Complete" %}selected {% endif %}>Complete</option>
                                </select>
                            </h6>
                        </form>

                    {% else %}

                        <h6 class="card-title">Status
                        
                            {% if bug.status == "Pending" %}
                                <span class="badge badge-primary">{{ bug.status }}</span>
                            {% elif bug.status == "In Progress" %}
                                <span class="badge badge-warning">{{ bug.status }}</span>
                            {% elif bug.status == "Complete" %}
                                <span class="badge badge-success">{{ bug.status }}</span>
                            {% endif %}
                        
                        </h6>

                    {% endif %}

                </div>

                <div class="bug-details-item">
                    <h6 class="card-title">
                        <span>{{ votes }} other user{% if votes == 0 or votes > 1 %}s have{% else %} has{% endif %} this problem</span>
                    </h6>
                </div>

                {% if bug.image %}
                <div class="bug-details-item">
                    <img src="{{ bug.image.url }}" class="img-thumbnail img-fluid rounded">
                </div>
                {% endif %}

                <form action="{% url 'addvote' bug.id %}" method="POST" class="float-right">
                    {% csrf_token %}
                    <button class="btn btn-info">
                        I have this problem too 
                        <i class="far fa-arrow-alt-circle-up"></i>
                    </button>
                </form>
                
            </div>
        </div>
        
        <hr>
        
        {% include 'partials/_comments.html' %}
        
    {% endif %}
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'bug' bug.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
