{% extends 'base.html' %}

{% block title %}Bugs{% endblock %}

{% block content %}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Bugs</li>
        </ol>
    </nav>

    <h1>Bug Reports</h1>

    {% include 'partials/_alerts.html' %}

    {% include 'partials/_bugs.html' %}

    {% if bugs.has_other_pages %}
    <nav>
        <ul class="pagination">
            {% if bugs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ bugs.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            
            {% for i in bugs.paginator.page_range %}

                {% if bugs.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            
            {% endfor %}

            {% if bugs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ bugs.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    <a href="{% url 'addbug' %}" class="btn btn-info float-right">Add Bug</a>

</div>

{% endblock %}