{% extends 'base.html' %}

{% block title %}Bugs{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Bugs</li>
        </ol>
    </nav>
        
    <h1 class="display-4">Bug Reports</h1>

    {% include 'partials/_alerts.html' %}
    
    <div class="main-container">
        <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
        
        {% if bugs %}
        
            {% for bug in bugs %}
            
                <tr>
                    <th scope="row">{{ bug.id }}</th>
                    <td>{{ bug.title }}</td>
                    <td>{{ bug.description | truncatechars:40 }}</td>
                    <td><a href="{% url 'bug' bug.id %}">View</a></td>
                </tr>
            
            {% endfor %}
            
        {% else %}
        
            <tr>
                <td>No bugs found.</td>
            </tr>
        
        {% endif %}
        
        </tbody>
        </table>
    </div>
    
    <a href="{% url 'addbug' %}" class="btn btn-info float-right">Add Bug</a>
    
</div>

{% endblock %}
