{% extends 'base.html' %}

{% block title %}Feature Request{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'features' %}">Features</a></li>
            <li class="breadcrumb-item">{{ feature.title }}</li>
        </ol>
    </nav>
    
    <h1 class="display-4"></h1>

    {% include 'partials/_alerts.html' %}
    
    {% if feature %}
    
        <div class="card">
            
            <h5 class="card-header">
                {{ feature.title }}
                <small class="text-muted"> posted on {{ feature.created_on }} by {{ feature.userid.username }}</small>
            </h5>
            <div class="card-body">
                
                <div class="bug-details-item">
                    <h5 class="card-title">Details</h5>
                    <p class="details-body">{{ feature.description }}</p>
                </div>
                
                <div class="bug-details-item">
                    <h6 class="card-title">URL:
                        <span class="card-text">
                            {% if feature.url %}
                                <a href="{{ feature.url }}" target="_blank">{{ feature.url }}</a>
                            {% else %}
                                None
                            {% endif %}
                        </span>
                    </h6>
                </div>
                
                <div class="bug-details-item">
                    <h6 class="card-title">Status
                    
                        {% if feature.status == "Pending" %}
                            <span class="badge badge-primary">{{ feature.status }}</span>
                        {% elif feature.status == "In Progress" %}
                            <span class="badge badge-warning">{{ feature.status }}</span>
                        {% elif feature.status == "Complete" %}
                            <span class="badge badge-success">{{ feature.status }}</span>
                        {% endif %}
                    
                    </h6>
                </div>

                <div class="bug-details-item">
                    <h6 class="card-title">Development Cost
                    &euro;{{ feature.price }}
                    </h6>
                </div>

                <div class="bug-details-item">
                    <div class="progress"  style="height: 25px">
                        <div class="progress-bar progress-bar-striped" 
                             role="progressbar" 
                             style="width: {{ contributions.contrib_percent|stringformat:'d' }}%; height: 25px" 
                             aria-valuenow="{{ contributions.contrib_percent|stringformat:'d' }}" 
                             aria-valuemin="0" 
                             aria-valuemax="{{ feature.price|stringformat:'d' }}">
                             <strong>&euro;{{ contributions.current_contribs }} - {{ contributions.contrib_percent }}%</strong>
                        </div>
                    </div>
                </div>

                <form>
                    <button class="btn btn-info float-right">Contribute</button>
                </form>
                
            </div>
        </div>

        <hr>        

        {% include 'partials/_comments.html' %}
        
    {% endif %}
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'feature' feature.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="comment" name="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
