{% extends 'base.html' %}

{% block title %}Feature Request{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'features' %}">Features</a></li>
            <li class="breadcrumb-item">{{ feature.title }}</li>
        </ol>
    </nav>
    
    <h1 class="display-4"></h1>

    {% include 'partials/_alerts.html' %}
    
    {% if feature %}
    
        <div class="card">
            
            <h5 class="card-header d-flex">

                <span>
                {{ feature.title }}
                <br>
                <small class="text-muted">posted on {{ feature.created_on }} by {{ feature.userid.username }}</small>
                </span>

                {% if user == feature.userid or user.is_staff == True %}
                <span class="ml-auto">
                    <a href="{% url 'editfeature' feature.id %}" class="btn btn-secondary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </span>
                {% else %}
                <span class="ml-auto">
                    <button class="btn btn-secondary btn-sm" disabled>
                        <i class="fas fa-ban"></i> Edit
                    </button>
                </span>            
                {% endif %}
            </h5>
            <div class="card-body">

                <div class="row">
                    <div class="col bug-details-item">
                        {% include 'partials/_progressbar.html' %}
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 bug-details-item">
                        <h5 class="card-title">Details</h5>
                        <p class="details-body">{{ feature.description }}</p>
                    </div>
                    
                    <div class="col bug-details-item">
                        <h5 class="card-title">URL:</h5>
                            <span class="card-text">
                                {% if feature.url %}
                                    <a href="{{ feature.url }}" target="_blank">{{ feature.url }}</a>
                                {% else %}
                                    None
                                {% endif %}
                            </span>
                    </div>
                    
                    <div class="col bug-details-item">
                        <h5 class="card-title">Status</h5>
                        {% if feature.status == "Pending" %}
                            <span class="badge badge-primary">{{ feature.status }}</span>
                        {% elif feature.status == "In Progress" %}
                            <span class="badge badge-warning">{{ feature.status }}</span>
                        {% elif feature.status == "Complete" %}
                            <span class="badge badge-success">{{ feature.status }}</span>
                        {% endif %}
                    </div>

                    <div class="col bug-details-item">
                        <h5 class="card-title">Development Cost</h5>
                        &euro;{{ feature.price }}
                    </div>
                </div>

                <form action="{% url 'addtocart' feature.id %}" method="POST">
                    {% csrf_token %}
                    <div class="controls form-inline">
                        <span>&euro;</span>
                        <input class="form-control float-right" type="number" min="1" step="any" name="contribution_amount" value="0.00" required />
                        <button class="btn btn-info float-right">Contribute</button>
                    </div>
                </form>
                
            </div>
        </div>

        <hr>        

        {% include 'partials/_comments.html' %}
        
    {% endif %}
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'feature' feature.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="comment" name="comment" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add comment</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>



{% endblock %}
