{% extends 'base.html' %}

{% block title %}Features{% endblock %}

{% block content %}

<div class="container">
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item">Features</li>
        </ol>
    </nav>
        
    <h1 class="display-4">Features</h1>

    {% include 'partials/_alerts.html' %}
    
    {% include 'partials/_features.html' %}
    
    <a href="{% url 'addfeature' %}" class="btn btn-info float-right">Request Feature</a>
    
</div>

{% endblock %}
